/** Global definitions **/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  min-height: 100svh;
  padding: 3em 1em;
}
